In [1]:
new_tuple = ()
new_tuple1 = tuple()

In [2]:
type(new_tuple)

tuple

In [3]:
a = (1)
b = (1,)
print(type(a))
print(type(b))

<class 'int'>
<class 'tuple'>

In [5]:
newtup4 = 3, 4, 5, "hello" # packing
print(newtup4)
a, b, c, d = newtup4 # unpacking
print(a, b, c, d)

(3, 4, 5, 'hello')
3 4 5 hello

In [6]:
tuple_days = ('Mon', 'Tue', 'Wed', 'Thu', 'Fri')
for x in tuple_days:
  print(x)

Mon
Tue
Wed
Thu
Fri

In [17]:
print(tuple_days[1])
print(tuple_days[-1])
print(tuple_days[1:-1])

Tue
Fri
('Tue', 'Wed', 'Thu')

#### Join two tuples

In [18]:
t1 = (1, 2, 3)
t2 = (1, 4, 5)
if t1[0] == t2[0]:
  t = t1 + t2
  print(t)

(1, 2, 3, 1, 4, 5)

In [25]:
lt1 = list(t1)
lt2 = list(t2)
lt1.extend(lt2)
print(tuple(lt1))

(1, 2, 3, 1, 4, 5)

In [1]:
a = 5
b = 3
print(a, b)
b, a = a, b
print(a, b)

5 3
3 5