In [1]:
dt = {}
type(dt)

dict

In [3]:
dt = {"name": "Yash", "empno": 344}
print(dt)

{'name': 'Yash', 'empno': 344}

In [4]:
dt2 = dt
print(id(dt))
print(id(dt2))

1893041816576
1893041816576

In [6]:
dt3 = dt.copy()
print(id(dt))
print(id(dt3))

1893041816576
1893041506496

#### Sum all the items in a dictionary

In [8]:
dt = {'a': 1, 'b': 2}
sum = 0
for key in dt.keys():
  print(dt[key])
  sum += dt[key]
print(sum)

1
2
3

In [10]:
dt = {'a': 1, 'b': 2}
sum = 0
for val in dt.values():
  sum += val
print(sum)

3

In [9]:
grades = {}
n = int(input('Enter number of students: '))
for i in range(n):
  maths = int(input('Enter marks in maths: '))
  science = int(input('Enter marks in science: '))
  english = int(input('Enter marks in english: '))
  avg = (maths + science + english) // 3

  grade = ''
  if (avg >= 90):
    grade = 'A'
  elif (avg > 80):
    grade = 'B'
  elif (avg > 70):
    grade = 'C'
  elif (avg > 60):
    grade = 'D'
  else:
    grade = 'F'
  
  grades[i] = grade
print(grades)

{0: 'B', 1: 'C', 2: 'D'}

In [1]:
student = {
  'name': 'Yash',
  'age': 21,
  'marks': {
    'x': 21,
    'y': 25,
    'z': 22
  }
}
student

{'name': 'Yash', 'age': 21, 'marks': {'x': 21, 'y': 25, 'z': 22}}