In [1]:
s1 = set()
type(s1)

set

In [2]:
st = {2, 3, 3, 4, 5}
st

{2, 3, 4, 5}

In [4]:
st = set([4, 2, 3, 1])
st

{1, 2, 3, 4}

In [6]:
se = set("hello")
se

{'e', 'h', 'l', 'o'}

In [7]:
st = set((1, 2, 3))
st

{1, 2, 3}

In [9]:
st = {1, 2, 3}
st2 = st.copy()
print(id(st))
print(id(st2))

2304857982336
2304857982560

In [10]:
st2.add(99)
st2

{1, 2, 3, 99}

In [11]:
st2.update({-1, -2, -3})
st2

{-3, -2, -1, 1, 2, 3, 99}

In [12]:
st2.remove(-2)
st2

{-3, -1, 1, 2, 3, 99}

In [13]:
st2.pop()
st2

{-3, -1, 2, 3, 99}

In [14]:
st1 = {'a', 'b', 'c', 2}
st2 = {1, 2, 3}

In [15]:
st1 | st2

{1, 2, 3, 'a', 'b', 'c'}

In [16]:
st1 & st2

{2}

In [18]:
st1 - st2

{'a', 'b', 'c'}

In [19]:
st1 ^ st2

{1, 3, 'a', 'b', 'c'}

In [21]:
for i in st1:
  print(i)

c
2
b
a

In [23]:
st_frozen = frozenset(st2)
st_frozen

frozenset({1, 2, 3})

In [24]:
st_frozen.add(9)

AttributeError: 'frozenset' object has no attribute 'add'

#### Write a python program to find the most common element in a given list.

In [22]:
lst = ['PHP', 'PHP', 'Python', 'PHP', 'Python', 'JS', 'Python', 'Python', 'PHP', 'Python']
freq = {}
for ele in lst:
  val = freq.get(ele, 0)
  freq[ele] = val + 1
print(freq)

mx = max(freq.values())
for key, value in freq.items():
  if (value == mx):
    print(key)
    break

{'PHP': 4, 'Python': 5, 'JS': 1}
Python

#### Count the most and least common characters in the given string.

In [56]:
st = "hello world"
freq = {}
for ch in st:
  if (ch in freq):
    freq[ch] += 1
  else:
    freq[ch] = 1
freq

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [21]:
st = "helloworld"
freq = {}

for ch in st:
  val = freq.get(ch, 0)
  freq[ch] = val + 1
freq

mx = max(freq.values())
mn = min(freq.values())

for key, value in freq.items():
  if (value == mx):
    print(key)
    break

for key, value in freq.items():
  if (value == mn):
    print(key)
    break

print(max(zip(freq.values(), freq.keys())))
print(min(zip(freq.values(), freq.keys())))

l
h
(3, 'l')
(1, 'd')

#### Given two python list. Write a program to iterate both lists simultaneously and display items from list1 in original order and items from list2 in reverse order.

In [26]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

In [31]:
for i in range(len(list1)):
  print('{} {}'.format(list1[i], list2[len(list2) - 1 - i]))

10 400
20 300
30 200
40 100

In [32]:
list2 = list2[::-1]
for i in range(len(list1)):
  print('{} {}'.format(list1[i], list2[i]))

10 400
20 300
30 200
40 100